.display-bold {
  font: 700 4.8rem / 6rem "Plus Jakarta Sans", sans-serifs;
}

.hero-bold {
  font: 700 4.2rem / 5.6rem "Plus Jakarta Sans", sans-serifs;
}

.huge-bold {
  font: 700 3.6rem / 4.8rem "Plus Jakarta Sans", sans-serifs;
}

.big-bold {
  font: 700 3.2rem / 4rem "Plus Jakarta Sans", sans-serifs;
}

.extra-large-bold {
  font: 700 2.4rem / 3.2rem "Plus Jakarta Sans", sans-serifs;
}

.large-bold {
  font: 700 2rem / 2.8rem "Plus Jakarta Sans", sans-serifs;
}

.moderate-regular {
  font: 400 1.8rem / 2.4rem "Plus Jakarta Sans", sans-serifs;
}

.normal-bold {
  font: 700 1.6rem / 2.4rem "Plus Jakarta Sans", sans-serifs;
}

.small-bold {
  font: 700 1.4rem / 2rem "Plus Jakarta Sans", sans-serifs;
}

.normal-semi-bold {
  font: 600 1.6rem / 2.4rem "Plus Jakarta Sans", sans-serifs;
}

.normal-regular {
  font: 400 1.6rem / 2.4rem "Plus Jakarta Sans", sans-serifs;
}

.small-semi-bold {
  font: 600 1.4rem / 2rem "Plus Jakarta Sans", sans-serifs;
}

.small-regular {
  font: 400 1.4rem / 2rem "Plus Jakarta Sans", sans-serifs;
}

.tiny-bold-caps {
  font: 700 1.2rem / 1.6rem "Plus Jakarta Sans", sans-serifs;
  text-transform: uppercase;
}

.tiny-semi-bold {
  font: 600 1.2rem / 1.6rem "Plus Jakarta Sans", sans-serifs;
}

.tiny-regular {
  font: 400 1.2rem / 1.6rem "Plus Jakarta Sans", sans-serifs;
}

.micro-medium-caps {
  font: 700 1rem / 1.6rem "Plus Jakarta Sans", sans-serifs;
  text-transform: uppercase;
}
